* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --pink-100: #f4d9d2;
  --pink-500: #cc876a;
  --pink-900: #be2233;

  --blue-500: #346d9e;

  --gray-500: #d9d9d9;

  --yellow-900: #ccad6e;
}

:focus {
  outline: 0;
}

body,
button,
input,
textarea {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
}
