.product-add-container {
  max-width: 64.5rem;
  margin: 2rem auto 4rem;
}

.product-add-container > h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;

  margin-bottom: 1rem;
}

.product-add-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.product-add-container .form-group > input,
.product-add-container .form-group > select,
.product-add-container .form-group > textarea {
  border-radius: 4px;
  padding: 0.5rem;
}

.product-add-container form > button[type="submit"] {
  background-color: var(--blue-500);
  color: var(--white);
  font-weight: 600;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.product-add-container .form-group > .text-danger {
    color: #EF4444;
    font-size: 0.875rem;
}