{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <title>Brazilian Trends</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block css %} {% endblock %}
  </head>
  <body>
    <header>
      <a href="/" class="logo">BrazilianTrends</a>
      <div class="input-search">
        <input
          type="text"
          id="search-product"
          placeholder="o que deseja procurar?"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="login-logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div>
          <a href="#">minha conta</a>
          <a href="#">entrar/cadastrar</a>
        </div>
      </div>
      <div class="cart-counter">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>0</span>
      </div>
    </header>

    <nav class="navigation">
      <a href="#">casacos</a>
      <a href="#">body</a>
      <a href="#">cropped</a>
      <a href="#">tshirts</a>
      <a href="#">vestidos</a>
      <a href="#">jaquetas</a>
      <a href="#">shorts e saias</a>
      <a href="#">calças</a>
      <a href="#">sapatos</a>
      <a href="#">acessórios</a>
    </nav>

    <main>{% block main %} {% endblock %}</main>

    <footer>
      <div class="footer-content">
        <div class="footer-heading">
          <div class="footer-heading-text">
            <span>Cadastre-se em nossa newsletter</span>
            <p>e receba novidades e promoções</p>
          </div>
          <div class="footer-heading-input">
            <input type="text" placeholder="digite seu e-mail" />
            <button>
              cadastre-se
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
        <div class="footer-infos">
          <div class="footer-infos-socials">
            <span class="logo">BrazilianTrends</span>
            <div class="footer-infos-socials-icons">
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin-in"></i>
              <i class="fa-brands fa-pinterest"></i>
            </div>
          </div>
          <div class="footer-links">
            <span>Institucional</span>
            <a href="#">Sobre a Brazilian Trends </a>
            <a href="#">Como Comprar</a>
            <a href="#">Segurança</a>
            <a href="#">Envio</a>
            <a href="#">Pagamento</a>
            <a href="#">Troca e Devouções</a>
            <a href="#">Fale Conosco</a>
          </div>
          <div class="footer-service">
            <span>Atendimento</span>
            <div class="footer-service-contacts">
              <i class="fa-solid fa-mobile-retro"></i>
              <p>(81) 9 9999-9999</p>
            </div>
            <div class="footer-service-contacts">
              <i class="fa-regular fa-envelope"></i>
              <p>loja@Braziliantrends.com</p>
            </div>
          </div>
          <div class="footer-payment">
            <span>Formas de pagamento</span>
            <img src="{% static 'img/payment.png' %}" alt="" />
          </div>
        </div>
        <div class="footer-logo">
          <span class="logo">BrazilianTrends</span>
        </div>
      </div>
    </footer>
  </body>
</html>
