{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/category-add.css' %}" />

{% endblock %} {% block main %}

<div>
  <div class="category-add-container">
    <h2>Cadastrar Categoria</h2>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">{{ form.nome.label_tag }} {{ form.nome }}</div>

      <div class="form-group">
        {{ form.descricao.label_tag }} {{ form.descricao }}
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</div>

{% endblock %}
