{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block main %}

<div class="banner-main">
  <img src="{% static 'img/heart.png' %}" alt="" class="img-heart" />
  <img src="{% static 'img/seaweed.png' %}" alt="" class="img-seaweed" />
  <img src="{% static 'img/tail-big.png' %}" alt="" class="img-tail-big" />
  <img src="{% static 'img/tail-small.png' %}" alt="" class="img-tail-small" />
  <div class="banner-text">
    <h1>Brazilian Trends</h1>
    <h2>sua nova coleção favorita</h2>
  </div>
  <div class="banner-slide">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<section class="main-content">
  <h2>lançamentos</h2>
  <div class="products-container">
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>lançamento</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
  </div>

  <div class="banners-products">
    <div class="banner-accessories">
      <span>acessórios</span>
    </div>
    <div class="banner-shoes">
      <span>sapatos</span>
    </div>
  </div>

  <h2>promoção</h2>
  <div class="products-container">
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>promoção</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>promoção</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>promoção</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
    <div class="product">
      <img src="{% static 'img/product-image.png' %}" alt="" />
      <div class="product-info">
        <div class="product-label">
          <span>promoção</span>
        </div>
        <h3>Blusa denim tubo</h3>
        <div class="product-price">
          <p>R$ 49,99</p>
          <span>R$ 49,99 á vista com desconto Pix</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
