{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/product.css' %}" />

{% endblock %} {% block main %}

<div class="product-container">
  <h2>Lista de Produtos</h2>
  <div class="products">
    {% for product in products %}
    <div class="product">
      <h3>{{ product.nome }}</h3>
      <p><strong>Descrição:</strong> {{ product.descricao }}</p>
      <p><strong>Preço:</strong> {{ product.preco }}</p>
      <p><strong>Quantidade:</strong> {{ product.quantidade }}</p>
      <p><strong>Data de criação:</strong> {{ product.data_criacao }}</p>
      <p><strong>Código:</strong> {{ product.codigo }}</p>
      <p><strong>Fornecedor:</strong> {{ product.fornecedor }}</p>
      <p><strong>Categorias:</strong> {{ product.categorias }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if page_obj.has_previous %}
    <div>
      <a href="?page=1">&laquo; Primeira</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    </div>
    {% else %}
    <div>
      <span class="disabled">&laquo; Primeira</span>
      <span class="disabled">Anterior</span>
    </div>
    {% endif %}

    <span
      >Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span
    >

    {% if page_obj.has_next %}
    <div>
      <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
    </div>
    {% else %}
    <div>
      <span class="disabled">Próxima</span>
      <span class="disabled">Última &raquo;</span>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
